.cards{
    width: 200px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: #103649;
    border-radius: 10px;
    color: #E0B87B;
    text-transform: uppercase;
}
.btn{
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    color: #303030;
    background-color: #E0B87B;
}